<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/aff096c3-d9a1-459f-a343-efb322ae9ddf/resourceGroups/eTutorServerApi20191117065846ResourceGroup/providers/Microsoft.Web/sites/eTutorApi</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://etutorapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>etutorapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eTutorApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eTutorApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>