<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/46a9040f-e396-43a2-b5a5-3ebe54ec262f/resourceGroups/etutor/providers/Microsoft.Web/sites/eTutor-ServerApi</ResourceId>
    <ResourceGroup>etutor</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://etutor-serverapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>etutor-serverapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eTutor-ServerApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eTutor-ServerApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>