
eTutor.SOLUTION/.vs/

eTutor.SOLUTION/.idea/

eTutor.SOLUTION/eTutor.API/obj/

eTutor.SOLUTION/eTutor.API/bin/

eTutor.SOLUTION/eTutor.Core/obj/

eTutor.SOLUTION/eTutor.Persistence/obj/

eTutor.SOLUTION/eTutor.ServerApi/bin/

eTutor.SOLUTION/eTutor.ServerApi/obj/

eTutor.SOLUTION/eTutor.Core/bin/

eTutor.SOLUTION/eTutor.Persistence/bin/

eTutor.SOLUTION/eTutor.MailService/bin/

eTutor.SOLUTION/eTutor.MailService/obj/

eTutor.SOLUTION/eTutor.FileHandler/bin/

eTutor.SOLUTION/eTutor.FileHandler/obj/
